
/* CSS RESET */

*, *::after, *::before {
   box-sizing: border-box;
   /*color: white;*/

}

:root {
   --font-sans: Roboto, Arial, sans-serif;
   --font-serif: Cambria, Georgia, serif;

   --color-neutral-lighter: #f4f4f4;
   --color-neutral-light: #eee;
   --color-neutral-medium: #999;
   --color-neutral-dark: #444;

   --color-main-light: #f6bed9;
   --color-main-medium: #e0609d;
   --color-main-dark: #65163c;

   --color-navigation-body: #171612;
   --color-listframe: #2B2D30;
   --color-footer-nav: #171612;
   --color-font: #18D7A5;
   --color-button: #333333;
   --color-buttonlabel: #4F4F4F;



   --header-height: 3rem;
}

body {
   margin: 0;
   font-size: 100%;
   font-family: var(--font-sans);
   background-color: var(--color-navigation-body);

}

.cover {
      width:  100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
      
}

.logo {
   text-align: center;
   width: 10rem;
  
   margin-top:  45vmin;
   margin-left: 2rem;
}

h1,
h2,
h3,
h4 {
   font-size: 1.3em;
   font-family: var(--font-sans);
}


.mainprofilelogin {
  font-size: 1rem;

}

a {
   /*color: inherit;*/
   color: white;
   text-decoration: none;
}
a:hover {
  color: var(--color-font);
   text-decoration: none;
}

.header ul li a:hover{
 img src="img/categories/azuki.png

}

.signin-uptext {
  color: white;
  text-decoration: underline;

}


.signin-uptext a:hover{
  color: #18D7A5;
  text-decoration: underline;

}

p{
  color: white;
  opacity: 2;
  line-height: 1.5rem;
  font-size: .8rem;
}

div h2 {
 color: white;
}

div {
 color: white;
}


/* Forms */

.form-control {
   margin: 1em 0;
}
.ui-mobile .form-label {
   font-size: 0.8em;
   color: var(--color-neutral-medium);
   margin: 0.5rem 0.5rem;
}
.form-input {
   display: inline-block;
   width: 100%;
   border-width: 0;
   background-color: var(--color-neutral-lighter);
   font: inherit;
   padding: 0.5em 1em;
   margin: 0;
   outline: 0;
   border-radius: .5em;

}
.form-button {
   display: inline-block;
   width: 100%;
   border-width: 0;
   background-color: #18D7A5;
   /*background-color: var(--color-neutral-light);*/
   font: inherit;
   padding: 0.5em 1em;
   margin-top: 3rem;
   outline: 0;
   text-align: center;
   text-decoration: none;
   border-radius: 1em;
}



.hotdog {
   background-color: white;
   border-radius: 2em;
   line-height: 3rem;
   padding: 0 2em;
}
.hotdog input {
   border-width: 0;
   padding: 0;
   margin: 0;
   width: 100%;
   flex: 1 1 auto;
   display: block;
   font: inherit;
   color: inherit;
   outline: 0;
}
.hotdog.dark {
   background-color: var(--color-neutral-dark);
   color: white;
}




#signin-form,
#signup-form {
   padding: 1em;
}


#signin-form2,
#signup-form2 {
   padding: 1em;
}


#recent-search {
   box-shadow: 0.1em 0.2em 0.4em rgba(0,0,0,0.3);
}


.recent-search {
   margin: 1em;
   display: flex;
   position: relative;
}
/* Categories */



/* maps */

.marker{
  width: 100px;
  height: 150px;

}


/* Page Layouts */

.ui-mobile .ui-page-active {
   display: flex;
   flex-direction: column;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
[data-role="main"] {
   flex: 1 1 100%;
   overflow: hidden;
   position: relative;
}
.ui-header,
.ui-footer {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: var(--color-navigation-body);
   box-shadow: 0 0 5px rgba(0,0,0,0.15);
   Color: white;

   position: relative;
   overflow: hidden;
}
.ui-header .ui-title {
   margin: 0;
   padding: 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   text-align: center;
}


.ui-header ul,
.ui-footer ul {
   position: relative;
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align: center;
}
.ui-header a,
.ui-footer a {
   display: block;
   padding: 0 1em;
}




/* Modals */
.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   transition: all 0.2s;
   opacity: 0;
   z-index: 10;
}
.modal.active {
   opacity: 1;
   
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}


.modal.active modal.back{
pointer-events: initial;
}

.modal-back.transparent {
   background-color: transparent;
}
.modal-back.passthrough {
   pointer-events: none;
}

.modal-popup {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, calc(-50% + 3em));
   width: calc(100vw - 3em);
   max-height: calc(100vh - 3em);
   overflow: hidden;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   transition: all 0.4s;
}
.modal.active .modal-popup {
   transform: translate(-50%, -50%);
   pointer-events: initial;
}

.modal.active .modal-back{
pointer-events: initial;
}

.modal-head,
.modal-foot {
   background-color: var(--color-neutral-lighter);
   line-height: 2rem;
   padding: 0 1em;
}
.modal-body {
   background-color: white;
   flex: 1 1 100%;
   padding: 1em;
}

.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height: 40vh;
   width: 100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform: translate(0);
   pointer-events: initial;
}




/* floater */
.floater { position: absolute; }
.floater.top { top:1rem }
.floater.right { right:2.0rem }
.floater.bottom { bottom:1rem }
.floater.left { left:1rem }


.circle-button {
   border-radius: 3rem;
   line-height:2rem;
   font-size: 2em;
   color: black;
   width: 2rem;
   height: 2rem;
   text-align: center;
   /*background-color: #18D7A5;*/
   background-color: white;
   box-shadow: 0.1em 0.2em 0.4em rgba(0,0,0,0.2);

}
modal-drawer

/* landing page */

div .landingcover  {
  background-image: url('img/icons/landing.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



.titleheading {
font-size: 2rem;
margin-left: 20rem;
margin-top: 10rem;
padding:2rem;

}

.content {
  margin: 2rem;
  font-size: .9rem;
  line-height: 1.8rem;
}




/* maps */


.map{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;


}

.map-placeholder {
 
   background-image: url(../img/maps/sfo-zoomout.png);
   background-position: center;
   background-size: cover;
 }

.markericon{
     width: 35px;
     height: 38px;
}


.icon {
  width: 1.2rem;
  height: 1.2rem;

}

.iconback{
  width: 10px;
  height: 20px;
  margin: 5px;
  vertical-align: middle;
}


.iconclose{
  width: 15px;
  height: 15px;
  margin: 5px;
  vertical-align: middle;
}

/* nft List */
.nft-list {
   list-style-type: none;
   padding: 0;
   margin: 0;
   padding: 0 1em;
   height: 100%;
   width: 100%;
   position: relative;
   overflow: auto;
}
.nft-list-item a {
   display: flex;
   font-weight: normal;
   margin: 1em 0;
 
   border-radius: 0.5em;
   overflow: hidden;
   box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
   background-color: #1C1B18;
}
.nft-list-item a:hover {
   text-decoration: none;
}
.nft-list-image img {
   width: 8em;
   vertical-align: text-bottom;
   
}
.nft-list-body {
   padding: 1em;
}
.NFT-list-name {
   font-size: 1.2em;
   font-weight: bold;
}
.NFT-list-type {
   font-size: .8em;
   line-height: 30px;
}
.NFT-list-location {
   font-size: .8em;
}

/* NFT Profile */

.mainprofile{


   list-style-type: none;
   padding: 0;
   margin: 0;
   padding: 0 1em;
   height: 100%;
   width: 100%;
   position: relative;
   overflow: auto;


}

.mainprofile h1{
 /*margin-left: 50px;
 margin-top: 30px;*/
font-size: 16px;
font-weight: bold;
color: white;
margin-left: 20px;
margin-bottom: 2rem;

}

.NFT-list-image img {
  width: 25em;
  margin: 20px;
  vertical-align: text-bottom;

}

.mainprofile-details {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.labelnftprofile {
  font-size: 1rem;
  font-weight: lighter;
  color: #4F4F4F;
  margin: 0;
  padding:0;
}

.currentlabelprofile {
 margin-top: 5px;
 font-weight: lighter;
 margin-bottom: 30px;
 font-size: 1.1rem;

}

.currentlabelprofilehistorylist {
  margin-top: 5px;
  font-weight: lighter;
  margin-bottom: 30px;
  font-size: 1.1rem;
  line-height: 2.2rem;

}


.nft-profile-top {
   height: 35vh;
   background-size: cover;
   background-position: center;
}

.nft-profile-bottom{
   flex: 1 1 auto;
   position: relative;
  /* margin: 1rem;*/
}

.nft-profile-nav {
   height: var(--header-height);
   line-height: var(--header-height);
   display: flex;
}

.nft-profile-nav div {
text-align: center;
flex: 1 1 auto;
}

#nft-profile-page {
position: absolute;
top: 0;
left: 0;
z-index: 2;
width: 100%;
background-color: rgba(255,255,255,0.1);

}

#nft-profile-page [data-role="main"] {
display: flex;
flex-direction: column;
}

.nft-profile-bottom>div{
   opacity: 100%;
   pointer-events: none;
   transition: all 0.3s;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.nft-profile-bottom div.active {
   opacity: 1;
   pointer-events: initial;
}



/*Add NFT - Camera */

.camera-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 100%;
}

.camera-label {
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0 1em;
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
  position: relative;
  list-style-type: none;
  color: white;
  width: 32%;
}


.camera-button img {
  display: inline-block;
  width: 9rem;
  padding: 2.9rem;


}

.camera-button-container {
    display: flex;
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: .2rem;
    width: .2rem;
    align-items: center;
    justify-content: center;
    position: relative;

}



/* User Profile */

.users-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 30%;

}

.users-namephotolabel {

  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: .5rem;
  width: 30%;


}

.user-namephotoadd {

  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  font-size: .7rem;

}

hr {

   border-top: 1px solid #2B2D30;
   opacity: 0.2;
}

.usericonprofile {
  display: block;
  margin-left: auto;
  margin-right: none;
  margin-top: .5rem;
  width: 45%;

}

/* footer nav */

.nav-icon-set{
  background-color: var(--color-footer-nav);
}

/.nav-icon-set li.active {
  background-color: var(--color-footer-nav);
/*  background-color: var(--color-main-light);
    --color-footer-nav: #2B2D30;*/

}
.nav-icon {
    /*line-height: 2rem;
    border-style: solid;
    border-width: 5px;*/
    display: block;
    background-color: var(--color-footer-nav);
}
.nav-icon .icon {
    vertical-align: middle;
    width: 21px;
    height: 22px;
    background-color: var(--color-footer-nav);

}

.nav-icon .icon-camera {
    vertical-align: middle;
    width: 24px;
    height: 22px;
    background-color: var(--color-footer-nav);

}



.newpass-label {
   margin-top: 3rem;
}

/*.nav-icon-label {
    line-height: 1rem;
    display: block;
    font-size: 0.8em;
}*/

/* Layout Classes */

.hidden { display:none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }

.flex-column { flex-direction:column; }
.overscroll { overflow:auto; }

.fill-parent {
   height:  100%;
   width: 100%;
}

.noclick-children * { pointer-events:none; }

}